<%- include('../partials/header') %>

<!-- FLIGHT DETAILS -->
<section id="show-page">
    <div>Airline: <%= flight.airline %></div><br>
    <div>Airport: <%= flight.airport %></div><br>
    <div>Flight Number: <%= flight.flightNo %></div><br>
    <div>Departs: <%= flight.departs %></div><br>
  </section>
  
  <!-- DESTINATIONS FORM -->
  <br><br><h2>Destination</h2>
  <form id="add-destination-form" method="POST"
    action="/flights/<%= flight._id %>/destinations">
    <label>Airport:
        <select name = "airport">
            <option value="AUS"> AUS</option>
            <option value="DFW"> DFW</option>
            <option value="DEN"> DEN</option>
            <option value="LAX"> LAX</option>
            <option value="SAN"> SAN</option>
            <option value="PDX"> PDX</option>
        </select>
        </label><br>
        <Label>Arrival:
            <input type="date" name="arrival">
        </Label><br>
        <button type="submit">Add Destination</button>
</form>
<!-- FLIGHT DETAILS -->

<% if (flight.destinations.length) { %>
    <table>
        <thead>
            <tr>
                <th>Airport</th>
                <th>Arrival</th>
            </tr>
        </thead>
        <tbody>
            <% flight.destinations.forEach(function(d) { %>
                <tr>
                    <td><%= d.airport %></td>
                    <td><%= d.arrival.toLocaleDateString() %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>

<% } %>

<%- include('../partials/footer') %>