<%- include('../partials/header') %>

<!-- FLIGHT DETAILS -->
<section id="show-page">
    <div>Airline: <%= flight.airline %></div><br>
    <div>Airport: <%= flight.airport %></div><br>
    <div>Flight Number: <%= flight.flightNo %></div><br>
    <div>Departs: <%= flight.departs %></div><br>
  </section>
  
  <!-- DESTINATIONS FORM -->
<div id="main-container"></div>
<section id="destinations-section">
  <br><br><h2 class="section-title">Destination</h2>
  <form id="add-destination-form" method="POST"
    action="/flights/<%= flight._id %>/destinations">
    <label>Airport:
        <select name = "airport">
            <option value="AUS"> AUS</option>
            <option value="DFW"> DFW</option>
            <option value="DEN"> DEN</option>
            <option value="LAX"> LAX</option>
            <option value="SAN"> SAN</option>
            <option value="PDX"> PDX</option>
        </select>
        </label><br>
        <Label>Arrival:
            <input type="datetime-local" name="arrival">
        </Label><br>
        <button type="submit">Add Destination</button>
</form>
<!-- FLIGHT DETAILS -->

<% if (flight.destinations.length) { %>
    <table id="destinations-table">
        <thead>
            <tr>
                <th>Airport</th>
                <th>Arrival</th>
            </tr>
        </thead>
        <tbody>
            <% flight.destinations.forEach(function(d) { %>
                <tr>
                    <td><%= d.airport %></td>
                    <td><%= d.arrival.toLocaleDateString() %></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
<% } %>
</section>

<section id="tickets-section">
<h1>Create New Ticket</h1>
<form  action="/flights/<%= flight.id%>/tickets" method="POST">
    <label for="seat">Seat:</label>
    <input type="text" name="seat" pattern="[A-F][1-9]\d?" required>
    <label for="price">Price:</label>
    <input type="number" name="price" min="0" required>
    <button type="submit">Create Ticket</button>
</form>

<h2 class="section-title">Tickets</h2>
<ul class="ticket-list">
    <% tickets.forEach(ticket => { %>
        <li class="ticket-item">
            Seat: <%= ticket.seat %>, Price: <%= ticket.price %>
        </li>
    <% }) %>
</ul>
</section>
</div>

<%- include('../partials/footer') %>